/* You can add global styles to this file, and also import other style files */
body {
  background: #ffe url(./assets/fade.png) top repeat-x;
  color: #800;
}

button.link {
  background: none;
  border: none;
  color: inherit;
}

.center {
  margin: auto;
  width: auto;
  text-align: center;
}

.modal-box {
  position: absolute;
  left: 40%;
  z-index: 1;
  width: 400px;
  height: 200px;
  border: solid;
  border-width: 2px;
  border-color: black;
  background-color: #fff5d9;
}

.close-link {
  position: absolute;
  bottom: 0;
  right: 0;
}