.thread-box {
  width: 500px;
  height: 100px;
  border: 1px solid #800;
  margin: auto;
  margin-bottom: 1em;
}

.thread-box * {
  float: left;
  padding: 5px;
}

.title-text {
  vertical-align: text-top;
  width: 350px;
  overflow-wrap: break-word;
  text-align: left;
}