.post-box {
  width: 500px;
  height: 160px;
  border: 1px solid #800;
  margin: auto;
  margin-bottom: 1em;
}

.post-box * {
  float: left;
  padding: 5px;
}

.message-text {
  width: 325px;
  overflow-wrap: break-word;
  text-align: left;
}