.modal-box {
  position: absolute;
  left: 40%;
  z-index: 1;
  width: 400px;
  height: 200px;
  border: solid;
  border-width: 2px;
  border-color: black;
  background-color: #fff5d9;
}

.close-link {
  position: absolute;
  bottom: 0;
  right: 0;
}