<div class="modal-box">
  <h2>New Post</h2>
  <div class="center">
    <form class="form" (ngSubmit)="onSubmit()" #postForm="ngForm">
      <div class="form-group">
        <label for="message">Message</label>
        <input type="text" name="message" required [(ngModel)]="postData.message" #messageRef="ngModel"/>
      </div>
      <div *ngIf="messageRef.invalid && (messageRef.dirty || messageRef.touched)">
        <div *ngIf="messageRef.errors.required">
          Message is required.
        </div>
      </div>
      <div class="form-group">  
        <label for="upload">Upload an Image</label>
        <input type="file" name="upload" (change)="fileChange($event)"/>
      </div>
      <button [disabled]="!postForm.form.valid || !postData.image" type="submit" class="btn btn-success">Post!</button>
    </form>
  </div>
  <button class="link close-link" (click)='hideModal()'>[Close]</button>
</div>
<div class="alert" *ngIf="showAlert">
  {{alertText}}
</div>